# config files (specific to the machine)
config_files/comparison/
config_files/evaluate/
config_files/explain/
config_files/surrogate_check/

# files created form the repo
explanations/
surrogate_check/
test_output/
checkpoints/

# ignore large files (for now)
src/datasets/AWA_rawdata/